<!DOCTYPE html>
<html>
<head>
  <title>New Post</title>
</head>
<body>
  <h1>This takes a new post</h1>
  <form method="POST" action="/posts">
    <p>Name: <input style="width: 200px;" type="text" name="post[name]" id="name"></p>
    <p>Content: <input style="width: 200px;
    height: 250px;"type="text" name="post[content]" id="content"></p>
    <p><input type="submit" name="create post" id="submit"></p>
  </form>
</body>
</html>
